{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing for {{ listing.title }}</h2>

    

        
        <img src="{{ listing.img_url }}" width="400" 
        height="400"/>
        <br>
        Category:<br>
        {{category}}
        <br><br>

        <h3>${{listing.price}}</h3>

        {% if user.is_authenticated %}
        Bid:
        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            <input type="number" id="bid" min="0.00" max="10000.00" step="0.01" name="bid"  />
            <input type="submit" value="submit">
        </form>
        {% else %}
            sign in to bid on item
        {% endif %}

        {% for bid in bids %}
            {{bid.bid}} submitted by {{bid.user.username}}<br>
            
        {% empty %}
        <li> no bids yet </li>
        {% endfor %}
        {{count}} bid(s) so far
        
        <br><br>
        {% if user.is_authenticated %}
        <form action="{% url 'addtowatchlist' listing.id %}" method="post">
            {% csrf_token %}
            <button name="watchlist" value="submit">Watchlist</button>
        </form>

        <form action="{% url 'removefromwatchlist' listing.id %}" method="post">
            {% csrf_token %}
            <button name="remove" value="remove">Remove from watchlist</button>
        </form>
        {% else %}
        sign in to add to watchlist
    {% endif %}

    {% for comment in comments %}
        <li>
            {{ comment }}
        </li>
    {% empty %}
        <li> no comments </li>
    {% endfor %}

    {% if user.is_authenticated %}
    <form action="{% url 'comment' listing.id %}" method="post">
        {% csrf_token %}
        {{title}}
        <br>
        <textarea id="content" name="content" placeholder="Enter a comment" rows="4" cols="100"></textarea>
        <br>
        <input type="submit" value="submit">
    </form>
    {% else %}
        sign in to leave a comment
    {% endif %}
    
    

{% endblock %}